{% load icons %}
<nav class="navbar bg-base-200 border-b-2 border-accent">
  <div class="navbar-start">
    <a href="{% url 'home' %}" role="button" aria-label="Home">
      <button class="btn btn-primary btn-block w-[4rem] sm:w-[8rem] lg:w-[16rem]"
              aria-hidden="true"
              tabindex="-1">
        {% icon 'joystick' extra_classes='float-start text-3xl mt-0.5' %}
        <p class="text-xl text-base hidden lg:block">VGArchive</p>
      </button>
    </a>
  </div>
  <div class="hidden md:justify-center md:flex navbar-center">
    <ul class="menu menu-horizontal mx-2 text-base-content text-xl xl:text-2xl">
      <li role="menuitem">
        <a class="navbar-tab" href="{% url 'charity-list' %}">Charities</a>
      </li>
      <li role="menuitem">
        <a class="navbar-tab" href="{% url 'organization-list' %}">Organizations</a>
      </li>
      <li role="menuitem">
        <a class="navbar-tab" href="{% url 'event-list' %}">Events</a>
      </li>
      <li role="menuitem">
        <a class="navbar-tab" href="{% url 'run-list' %}">Runs</a>
      </li>
    </ul>
    {% if user.is_staff %}
      <div>
        <details class="dropdown dropdown-end">
          <summary tabindex="0" role="menu" class="navbar-tab">
            Add Data
            <i class="bi bi-caret-down-fill"></i>
          </summary>
          <ul class="menu menu-sm dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li role="menuitem">
              <a class="text-xl" href="{% url 'ingest-runner' %}">Runner</a>
            </li>
            <li role="menuitem">
              <a class="text-xl" href="{% url 'ingest-run' %}">Run</a>
            </li>
          </ul>
        </details>
      </div>
    {% endif %}
  </div>
  {% comment %}
  <div class="lg:navbar-end">
    <form method="get" action="{% url 'search' %}" class="-mt-[0.35rem] -mb-1.5 hover:bg-transparent active:bg-transparent">
      <label class="input input-md input-bordered flex items-center" aria-label="Search Bar">
        <input type="text" placeholder="Search" class="placeholder:text-base-content placeholder:text-lg w-96" />
        {% icon 'search' extra_classes="text-2xl text-neutral" tabindex="-1" %}
      </label>
    </form>
  </div>
  {% endcomment %}
  <div class="navbar-end flex flex-initial">
    <div class="md:hidden">
      <details class="dropdown dropdown-end" id="navbar-menu">
        <summary tabindex="0"
                 role="button"
                 class="btn btn-ghost"
                 aria-label="Main Menu">{% icon 'list' extra_classes="text-3xl text-base-content" %}</summary>
        <ul tabindex="0"
            role="menu"
            class="menu menu-sm dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li role="menuitem">
            <a class="my-2 rounded-none text-2xl" href="{% url 'charity-list' %}">Charities</a>
          </li>
          <li role="menuitem">
            <a class="my-2 rounded-none text-2xl"
               href="{% url 'organization-list' %}">Organizations</a>
          </li>
          <li role="menuitem">
            <a class="my-2 rounded-none text-2xl" href="{% url 'event-list' %}">Events</a>
          </li>
          <li role="menuitem">
            <a class="my-2 rounded-none text-2xl" href="{% url 'run-list' %}">Runs</a>
          </li>
          {% if user.is_staff %}
            <li role="menuitem">
              <details open>
                <summary class="my-2 text-2xl">Add Data</summary>
                <ul>
                  <li>
                    <a class="my-2 rounded-none text-2xl" href="{% url 'ingest-runner' %}">Runners</a>
                  </li>
                  <li>
                    <a class="my-2 rounded-none text-2xl" href="{% url 'ingest-run' %}">Runs</a>
                  </li>
                </ul>
              </details>
            </li>
          {% endif %}
        </ul>
      </details>
    </div>
    <label class="swap btn btn-base-100" aria-label="Theme Switcher">
      {# this hidden checkbox controls the state #}
      <input type="checkbox"
             id="theme-controller"
             class="theme-controller"
             value="latte" />
      {% icon 'sun-fill' extra_classes="text-3xl text-neutral stroke-2 swap-off" tabindex="-1" %}
      {% icon 'moon-fill' extra_classes="text-3xl text-neutral stroke-2 swap-on" tabindex="-1" %}
    </label>
  </div>
</nav>
