if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

if test -n "$FISH_VERSION"; then
  source ./.venv/bin/activate.fish
elif test -n "$BASH_VERSION"; then
  source ./.venv/bin/activate
elif test -n "$NU_VERSION"; then
  source ./.venv/bin/activate.nu
fi

export DJANGO_SETTINGS_MODULE=vgarchive.settings.dev

use flake
