if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

if test -n "$FISH_VERSION"; then
  source ./.venv/bin/activate.fish
elif test -n "$BASH_VERSION"; then
  source ./.venv/bin/activate
elif test -n "$NU_VERSION"; then
  source ./.venv/bin/activate.nu
fi

export DJANGO_SETTINGS_MODULE=vgarchive.settings.dev

use flake
