{% load icons %}
<footer class="footer bg-base-300 text-base-content p-10 lg:mt-20">
  <aside class="lg:ml-20">
    {% icon 'joystick' extra_classes="text-5xl fill-current lg:ml-1" %}
    <p class="text-2xl">vgarchive.run</p>
  </aside>
  <nav>
    <p class="footer-title">Join Us!</p>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/pyrox0/archive-run"
         aria-label="vgarchive Git Repo">{% icon 'github' extra_classes="text-error text-4xl" tabindex="-1" %}</a>
      {% comment %}
      <a href="https://discord.gg/g4eK3vtsfh" aria-label="vgarchive Discord Server">{% icon 'discord' extra_classes="text-info text-4xl" tabindex="-1" %}</a>
      {% endcomment %}
    </div>
  </nav>
</footer>
