{% extends "vgarchive/base.html" %}
{% load icons %}
{% block title %}
  {{ object.name }} | vgarchive.run
{% endblock title %}
{% block content %}
  <div class="hero-bg" style="background-image:url('{{ object.icon.url }}')">
    <div class="hero-bg-gradient">
      <div class="hero-overlay bg-opacity-60 bg-base-100"></div>
      <div class="hero-content flex-col lg:flex-row">
        <div class="flex flex-col lg:mx-20 lg:mr-40">
          <h1 class="text-7xl font-mono lg:text-6xl self-end py-5 ml-20 mt-5 w-full font-bold text-base-content text-wrap bg-base-100 bg-opacity-60 rounded-md text-center">
            {{ object.name }}
          </h1>
        </div>
        <div class="flex flex-col w-1/2 lg:ml-10 space-y-5">
          {% if object.homepage %}
            <a class="hero-button btn-info" href="{{ object.homepage }}">
              {% icon 'globe2' extra_classes="text-[2.25rem] hero-button-icon" aria_label="Marathon Website Icon" tabindex="-1" %}
              <p class="hero-button-text-unhidden">Website</p>
            </a>
          {% endif %}
          <div class="bg-opacity-0 hero-stat my-5">
            <div class="stat bg-success bg-opacity-70 card-body">
              <div class="hero-stat-title">
                {% icon 'cash-stack' extra_classes="hero-stat-icon" aria_label="Donations Icon" tabindex="-1" %}
                Total Raised
              </div>
              <a class="stat-value">${{ object.donation_total|floatformat:"-2g" }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h2 class="text-5xl mb-5 lg:ml-7 font-bold">Events</h2>
    <div class="carousel carousel-center bg-neutral rounded-box max-w-full space-x-4 p-4 lg:ml-5">
      {% for e in events %}
        <div class="carousel-card">
          <a class="card-body" href="{% url 'event-detail' e.id %}">
            {% if e.banner %}
              <img class="rounded max-h-1/2"
                   src="{{ e.banner.url }}"
                   alt="Banner for the event {{ e.name }}.">
            {% endif %}
            {% if e.short_name %}
              <p class="card-title text-2xl mt-1">{{ e.short_name }}</p>
            {% else %}
              <p class="card-title text-2xl mt-1">{{ e.name }}</p>
            {% endif %}
            <p class="text-success font-bold text-3xl">${{ e.donation_total|floatformat:"-2g" }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
