{% extends "vgarchive/base.html" %}
{% load django_tables2 %}
{% block head %}
  {{ block.super }}
  {% meta_description content="List of all searchable charities on VGArchive, the open charity video game marathon search engine." %}
  {% meta_title content="Charities | VGArchive" %}
{% endblock head %}
{% block content %}
  <h1 class="text-5xl my-10 md:ml-10">Charities</h1>
  {% if filter %}
    <details class="filter-dropdown">
      <summary class="filter-summary btn-primary">Filters</summary>
      <form action="" method="get">
        {{ filter.form }}
        <button type="submit" class="btn">Filter</button>
      </form>
    </details>
  {% endif %}
  {% render_table table %}
{% endblock content %}
