{% extends "vgarchive/base.html" %}

{% block title %}{{ object.name }} | vgarchive.run{% endblock %}

{% block content %}

<h1 class="text-7xl py-5 pl-20 font-bold bg-base-300">{{ object.name }}</h1>
<h2>Description</h2>
<b>{{ object.description}}</b>
<br />
<a class="link link-primary text-xl" href="{{ object.homepage }}"><p>Marathon Homepage</p></a>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">Total Raised</div>
    <div class="stat-value">$0.00</div>
  </div>
</div>
{% endblock %}
