{% extends "vgarchive/base.html" %}
{% load bootstrap_icons %}

{% block title %}{{ object.name }} | vgarchive.run{% endblock %}

{% block content %}
<h1 class="text-7xl py-5 pl-20 w-full font-bold text-base-content bg-base-300">{{ object.name }}</h1>
<div class="flex flex-row w-full flex-wrap bg-base-100">
  <div class="flex flex-col w-full max-w-sm">
	  <h2 class="text-2xl text-base-content text">Description</h2>
	  <b class="text-lg text-base-content">{{ object.description}}</b>
	  <a class="link link-primary text-primary text-xl" href="{{ object.homepage }}"><p>Marathon Homepage</p></a>
	</div>
	<div class="flex flex-col lg:float-right max-w-md">
	  <div class="card stats bg-success text-success-content shadow mr-20 my-5">
	    <div class="stat card-body">
	      <div class="stat-title card-title text-success-content">
          {% bs_icon 'cash-stack' extra_classes="h-6 w-6 text-info-content" extra_attributes="{'aria-label':'Donations Icon','tabindex':'-1'}" %}
	        Total Raised
	      </div>
	      <div class="stat-value">$51,681,568.72</div>
	    </div>
	  </div>
	  <div class="card stats bg-info text-info-content shadow float-right mr-20">
	    <div class="stat card-body">
	      <div class="stat-title card-title float-start text-info-content">
          {% bs_icon 'people-fill' extra_classes="h-6 w-6 text-info-content" extra_attributes="{'aria-label':'Donators Icon','tabindex':'-1'}" %}
	        Total Donations 
        </div>
	      <div class="stat-value">911,375</div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}
