{% extends "vgarchive/base.html" %}
{% load icons %}
{% load django_tables2 %}
{% block head %}
  {{ block.super }}
  <c-meta.description content="List of all searchable organizations on VGArchive, the open charity video game marathon search engine." />
  <c-meta.title content="Organizations | VGArchive" />
{% endblock head %}
{% block content %}
  <h1 class="text-5xl my-10 md:ml-10">Organizations</h1>
  {% if filter %}
    <details class="dropdown lg:ml-5 ml-3">
      <summary class="filter-summary btn-primary">Filters</summary>
      <form action="" method="get" class="lg:ml-5 text-xl">
        {{ filter.form }}
        <button type="submit" class="filter-submit btn btn-outline btn-success">Filter</button>
      </form>
    </details>
  {% endif %}
  {% render_table table %}
{% endblock content %}
