/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-400-italic.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-italic.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-400-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-600-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-600-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-mono/files/ibm-plex-mono-latin-ext-700-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-400-italic.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-italic.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-400-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-600-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-600-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-700-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-sans/files/ibm-plex-sans-latin-ext-700-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-400-italic.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-400-italic.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-400-italic.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-400-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-400-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-600-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-600-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-600-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-700-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "IBM Plex Serif";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-700-normal.woff2)
      format("woff2"),
    url(https://fonts.bunny.net/ibm-plex-serif/files/ibm-plex-serif-latin-ext-700-normal.woff)
      format("woff");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
