{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="keywords"
          content="video games,archive,speedrun,games done quick,gdq,gaming" />
    <meta name="description" content="Charity Marathon VOD Search and Archive" />
    {% head %}
    <title>
      {% block title %}
        vgarchive.run
      {% endblock title %}
    </title>
  </head>
  <body class="bg-base-100 max-w-screen text-base-content">
    {% navbar %}
    {% block content %}
    {% endblock content %}
    {% footer %}
  </body>
  <script>
		var checkBox = document.getElementById('theme-controller');

		var theme = window.localStorage.getItem('data-theme');
		if(theme) document.documentElement.setAttribute('data-theme', theme);
		checkBox.checked = theme == 'mocha' ? false : true;

		checkBox.addEventListener('change', function () {
		  if(this.checked){
		    document.documentElement.setAttribute('data-theme', 'latte');
		    window.localStorage.setItem('data-theme', 'latte');
		  } else {
		    document.documentElement.setAttribute('data-theme', 'mocha');
		    window.localStorage.setItem('data-theme', 'mocha');
		  }
		});
	
  </script>
</html>
