{% load i18n %}
{% load compress %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
{# djlint:off #}
{# This throws an error about not having a title tag. #}
{# We define the title in the title partial, so we're fine. #}
<html lang="{{ LANGUAGE_CODE }}">
{# djlint:on #}
<head>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords"
          content="video games,archive,speedrun,games done quick,gdq,gaming" />
    <meta property="og.type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:url" content="{{ request.build_absolute_uri }}" />
    <meta name="og:site_name" content="vgarchive" />
    {% head %}
  {% endblock head %}
</head>
<body class="bg-base-100 max-w-screen text-base-content">
  {% navbar %}
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  {% footer %}
  {% compress js inline %}
    {# Theme Controller #}
    <script>
		  var checkBox = document.getElementById('theme-controller');
		  var theme = window.localStorage.getItem('data-theme');

		  if(theme) document.documentElement.setAttribute('data-theme', theme);
		  checkBox.checked = (theme == 'latte' ? true : false);

		  checkBox.addEventListener('change', function () {
		    if(this.checked){
		      document.documentElement.setAttribute('data-theme', 'latte');
		      window.localStorage.setItem('data-theme', 'latte');
		    } else {
		      document.documentElement.setAttribute('data-theme', 'mocha');
		      window.localStorage.setItem('data-theme', 'mocha');
		    }
		  });
    </script>
  {% endcompress %}
  {% compress js inline %}
    {# close mobile menu when clicking outside #}
    <script>
      var menu = document.getElementById('navbar-menu');

      document.addEventListener('click', function(e) {
        if (!menu.contains(e.target)) {
          menu.removeAttribute('open');
        };
      });
    </script>
  {% endcompress %}
</body>
</html>
