{% extends "vgarchive/base.html" %}
{% block head %}
  {{ block.super }}
  <c-meta.description content="VGArchive, the open charity video game marathon search engine." />
  <c-meta.title content="VGArchive" />
{% endblock head %}
{% block content %}
  <div class="min-h-screen hero">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h1 class="text-7xl text-primary font-mono my-5">VGArchive</h1>
        <br>
        <h2 class="text-2xl text-base-content">Charity Video Game Marathon Search Engine</h2>
      </div>
    </div>
  </div>
{% endblock content %}
